h3 {
    font-size: 300px;
}
* {
    font-family: 'Montserrat', sans-serif;
}

.errors-modals {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    color: #d93b30;
    margin-bottom: 3px;
}
.reviews_main_container {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 30px 50px;
}

.share-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews_form {
    display: flex;
    flex-direction:column;
    padding: 30px 50px;
    justify-content: center;
}

.review-div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 1px;
  }
  #ed_rev {
    font-size: 16px;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    align-self: center;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
  }
  .cancel_review_div {
      display: flex;
      justify-content: center;
      margin-right: 13px;
  }
  .create_review_div {
    display: flex;
    justify-content: center;
    margin-right: 13px;
}
.create-review-btn-div {
    display: flex;
    justify-content: center;
}

  #review_texty {
    max-width: 100%;
    display: flex;
    margin-left: 1px;
}
