* {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
  }

.main_container {
    flex-direction: column;
    display: flex;
    padding-top: 80px;
    background-color:white;
}

.first_photo_container,
.second_photo_container,
.third_photo_container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sf_view,
#painted_ladies,
#gg_bridge {
    border-radius: 20px;
    width: 90%;
}


.im_flex_container {
    position: absolute;
    top: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.not_sure_where {
    font-size: 40px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 90%;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.im_flex_button {
    background-color: white;
    padding: 16px 34px;
    border-color: white;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 620;
    color:#9d2ba4;
}


.become_host_container {
    position:absolute;
    /* bottom: 10%; */
    /* justify-content: center;
    align-items: center; */
    margin: auto;
}

.hosting_question {
    font-size: 40px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 360%;
    left: 8%;
    /* bottom: 90%; */
    justify-content: center;
    align-items: center;
    margin:auto;
}

.become_host_button {
    background-color: white;
    padding: 16px 34px;
    border-color: white;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 620;
    color:#9d2ba4;
    transform: translate(-165%, 580%);
}

.im_flex_button:hover,
.become_host_button:hover {
    background-color: #f7f7f7;
}
