* {
    font-family: 'Montserrat', sans-serif;
  }

.main_home_container {
    flex-direction: column;
    display: flex;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color:white;
}

.first_photo_container,
.second_photo_container,
.third_photo_container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#sf_view,
#painted_ladies,
#gg_bridge {
    border-radius: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
}


.im_flex_container {
    position: absolute;
    top: 78%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.not_sure_where {
    font-size: 40px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 70%;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.im_flex_button {
    background-color: white;
    margin-top: 10px;
    padding: 16px 34px;
    border-color: white;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 620;
    color:#9d2ba4;
    cursor: pointer;
}


.become_host_container {
    position:absolute;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    top: 87%;
    left: 15%;
}


.hosting_question {
    font-size: 40px;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 8%;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.become_host_button {
    background-color: white;
    padding: 16px 34px;
    border-color: white;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 620;
    color:#9d2ba4;
    cursor: pointer;
    /* position:relative;
    justify-content: flex-start;
    align-self: flex-start;
    margin:auto;
    bottom: 800%;
    width: auto;
    right: 300%; */
}
/* transform: translate(-285%, 750%); */

.im_flex_button:hover,
.become_host_button:hover {
    background-color: #f7f7f7;
}
