* {
    font-family: 'Montserrat', sans-serif;
}

.main_spotdetail_container {
    margin: 8% 12% ;
    margin-top: 0;
}
#title_div {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail_title {
    padding-top: 80px;
    margin-bottom: 20px;
    margin-top: 65px;
    width: 100%;
    height: auto !important; 
    word-wrap: break-word !important; 
    font-size: 35px;
    max-width: 900px;
    font-weight: 600;
    margin-left: 12%;
}

.detail_spot_image {
    box-shadow: 0 0 5px 0 grey;
    object-fit: cover;
    width: 900px;
    border-radius: 25px;
    height: 620px;
    margin-left: 12%;
}

.detail-content-main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.detail-content-sub {
    width: 100%;
    margin-right: 5%;
}

#hosted_by {
    margin-top: 65px;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 500;
    margin-left: 20%;
    padding-bottom: 25px;
}

#detail {
    padding-bottom: 50px;
    position: relative;
    margin-left: 30.5%;
}
#edit_delete_btn {
    display: flex;
    justify-content: flex-end;
}
.edit_spot_button{
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #d93b30;
    border: 2px solid #d93b30;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer; 
    margin-left: 0!important;
    margin-right: 10px;
    background-color: #FF5A5F;
    border-radius: 10px;
    border-color: white;
    margin-top:2px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
}
.delete_spot_button {
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #d93b30;
    border: 2px solid #d93b30;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer; 
    margin-left: 0!important;
    margin-right: 10px;
    background-color: #FF5A5F;
    border-radius: 10px;
    border-color: white;
    margin-top:2px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 11px;
    padding-right: 11px;
}
#det_information {
    position: relative;
}
.detail-h3 {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;
    font-size: 25px;
    font-weight: 500;
}
.details-spot {
    margin-left: 220px; 
    padding-bottom: 30px;
    font-weight: 400;
}

#desc {
    padding-top: 40px;
    font-weight: 500;
    font-size: 25px;
    margin-left: 20px;
}
#description {
    position: relative;
    color: #222222 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 20px !important;
    padding-bottom: 20px;
    display: flex;
    margin-left: 175px;
    max-height: 100%;
    inline-size: 690px;
    overflow-wrap:break-word;
}
#spot {
    font-size: 15px;
    font-weight: 300;
    text-align: end;
    margin-right: 20px;
}
#amen {
    padding-top: 30px; 
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.icons_amenities {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 90px;
    font-weight: 400;
}

#user_rev {
    padding-top: 30px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}


.icons_amenities {
    display: flex;
    flex-direction: row;
}

.individ {
    display: flex;
    justify-content: flex-start;
}

#spot_price {
    text-align: end;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 30px;
    margin: 0;
    padding: 0;
}

#am {
    padding-left: 280px;
}

#spot {
    font-size: 15px;
    font-weight: 300;
    text-align: end;
    margin-right: 20px;
}

#detail_title {
    display: flex;
    justify-content: flex-start;
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 10px;
 }


 #details_div {
    justify-content: flex-end;;
}


#ic_home {
    font-weight: 500;
    font-size: 25px;
}
#ic_clean {
    font-weight: 500;
    font-size: 25px;
}
#ic_checkin {
    font-weight: 500;
    font-size: 25px;
}
#ic_cancel {
    font-weight: 500;
    font-size: 25px;
}

#city_state {
    justify-content: flex-end;
    position: relative;
    display: grid;
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
}

.i-list {
    margin: 18px;
}

.edit-review_form {
    margin: auto;
    justify-content: center;
}
.edit_rev_comp {
    box-sizing: border-box;
    padding-top: 200px;
    position: absolute;
}
#rev_text {
    width: 100%;
    height: 30%;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 5px;
    resize: none;
    padding-bottom: 60px;
    box-sizing: border-box;
}


#rev_label {
    justify-content: center;
    padding-top: 40px;
    font-weight: 400;
    font-size: 20px;
}

.error-list {
    font-size: 13px;
    display: flex;
    padding-left: 35%;
    color: #d93b30;
    margin-bottom: 2px;
}

.edit-review-button {
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #d93b30;
    border: 2px solid #d93b30;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer; 
    margin-left: 0!important;
    margin-right: 10px;
    background-color: #FF5A5F;
    border-radius: 10px;
    border-color: white;
    margin-top:2px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 17px;
    padding-right: 17px;
 }
 .delete-review-button {
    left: 50px;
    list-style: none;
    background: none;
    border: none;
    color: #d93b30;
    border: 2px solid #d93b30;
    text-align: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 12px;
    margin: 6px 4px;
    transition-duration: 0.4s;
    margin-bottom: 5px;
    margin-left: 28%;
    cursor: pointer; 
    margin-left: 0!important;
    margin-right: 10px;
    background-color: #FF5A5F;
    border-radius: 10px;
    border-color: white;
    margin-top:2px;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
 }
 
 .edit-review-btn-div,
 .delete-review-btn-div {
    display: flex;
    flex-direction: row;
 }
.buttons-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.reviews_form,
edit-review {
    padding: 0;
}

 #ed_rev {
     font-size: 25px;
     font-weight: 400;
 }

 .edit-review-button:hover,
 .delete-review-button:hover {
     background-color: #d93b30;
 }

 #rev {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}
#texty {
    max-width: 100%;
}

.rev_textarea {
    position: fixed;
    height: 30%;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 5px;
    resize: none;
    padding-bottom: 60px;
    box-sizing: border-box;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}

.create-review-btn-div {
    padding-top: 30px;
    display: flex;
    padding-right: 42%;
}

.create-review-button,
.cancel-review-button {
    list-style: none;
    background: none;
    color: white;
    background-color: #FF5A5F;
    border-color: white;
    border: 1px solid;
    border-radius: 10px; 
    text-decoration: none;
    transition-duration: 0.4s;
    margin-top: 20px;
    margin-left: 12%;
    cursor: pointer; 
    margin-right: 16px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.create-review-button:hover,
.cancel-review-button:hover {
    background-color: #d93b30;
}

.review-container {
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: 1px solid  #e4e4e4;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    inline-size: 690px;
    overflow-wrap:break-word;
    padding-left: 45px;
}