* {
    font-family: 'Montserrat', sans-serif;
    color: rgb(34,34,34)
}

.profile-main-div {
    background-color: white;
    max-width: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-upper-div {
    padding-top: 130px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profile-user-icon {
    font-size: 80px;
    font-weight: 1000;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 5px 0 rgb(214,214,214);
    border-radius: 6px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-left: 15%;
    width: 70%;
}
.profile-icon {
    padding-right: 20px;
}
.profile-picture {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 1px solid rgb(214,214,214);
}

.profile-welcome {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    color: rgb(34,34,34);
    padding-right: 20px;
}

.profile-above-ul-div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    inline-size: 200px;
    overflow-wrap:break-word;
    font-size: 15px;
    font-weight: 400;
    color: rgb(34,34,34)
}
.profile-your-listings {
    font-size: 22px;
    font-weight: 600;
    margin-left: 60px;
}

.profile-lower-div {
    border-bottom: 2px solid rgb(214,214,214);
    margin-left: 65px;
    margin-right: 65px;
    width: 92%;
}
.profile-spots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profile-spots-div {
    display:flex;
    flex-direction: row;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.profile-user-spots{
    display: flex;
    flex-direction: row;
}

.profile-nav {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}
.profile-spot-img-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;

} 
.profile-spot-img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    display: flex;
    border-radius: 6px;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 0 rgb(180,180,180);
    margin-bottom: 30px;
    margin-left: 70px;
}
.profile-title-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 40px;
}
.profile-title-div,
.profile-address-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 60px;
}

.profile-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    font-weight: 600;
    font-size: 15px;
    width: 180px;
    height: 35px;
    margin-top: 1px;
}
.profile-address {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 11px;
    padding-left: 15px;
    color: grey;
    width: 180px;
    inline-size: 180px;
    overflow-wrap:break-word;
    margin-top: 1px;
    margin-bottom: 1px;
}


