* {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

form {
    display:flex;
    flex-direction: column;
}

.host_form {
    padding-top: 80px;
    padding-bottom: 60px;
    /* position: relative; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h3 {
    font-size: 30px;
}
